body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .home-container {
    margin-top: 151px; /* La altura del navbar */
  }
  
  .image-gallery-container {
    width: 100%;
    height: 80vh; /* Ajusta según el espacio que desees ocupar */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  