.leche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

h4 {
    font-size: 37.9px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.form {
    width: 100%;
    margin-left: 0; 
}

.inputs-row {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 20px;
    width: 100%; 
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.input-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-group input {
    width: 150px;
    height: 50px;
    padding: 5px;
    font-size: 16px;
}

.add-button-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.add-button-container p {
    font-size: 16px;
    text-align: center;
    max-width: 400px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.button-group button {
    margin: 0 10px;
}
