.add-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-button {
    width: 37.5px;
    height: 37.5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #408237;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-button img {
    width: 50%;
    height: 50%;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .dynamic-input {
    width: 150px;
    height: 50px;
  }
  